<nav class="bg-slate-900 h-16 w-screen flex items-center justify-between px-32">
	<div>
		<a href="/"><h3 class="m-0">Oh My Biznus</h3></a>
	</div>
	<div class="flex items-center space-x-8">
		<a href="/#features">Features</a>
		<a href="/#pricing">Pricing</a>
		<a href="/#about">About</a>
	</div>
	<div>
		<a href="/login" class="bg-slate-800 hover:bg-slate-700 hover:text-white font-bold py-2 px-4 rounded">Login</a>
	</div>
</nav>
