<nav class="h-16 w-screen flex items-center justify-between px-8 md:px-20 lg:px-32 animate-in fade-in animate-out fade-out">
	<div>
		<a href="/"><h3 class="m-0">Oh My Biznus</h3></a>
	</div>
	<div>
		<a href="#" class="bg-slate-900  hover:bg-slate-700 hover:text-white font-bold py-2 px-4 rounded transition-all">Login</a>
	</div>
</nav>
