<footer class="bg-gray-800 text-white py-8 w-screen">
  <div class="container mx-auto">
    <div class="grid grid-cols-3 gap-8">
      <div>
        <h3 class="text-lg font-medium mb-4">Oh My Biznus</h3>
        <ul class="list-disc pl-4">
          <li><a href="#" class="text-white hover:text-indigo-500">Home</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">Features</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">Pricing</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">Contact</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-medium mb-4">Support</h3>
        <ul class="list-disc pl-4">
          <li><a href="#" class="text-white hover:text-indigo-500">FAQ</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">Help Center</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">Contact Us</a></li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-medium mb-4">Connect</h3>
        <ul class="list-disc pl-4">
          <li><a href="#" class="text-white hover:text-indigo-500">Facebook</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">Twitter</a></li>
          <li><a href="#" class="text-white hover:text-indigo-500">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center text-gray-500 mt-8">Copyright &copy; Oh My Biznus 2020</p>
  </div>
</footer>
