<div
  class="w-screen flex items-center justify-center h-[calc(100vh-4rem)] px-8 md:px-20 lg:px-32 animate-in fade-in animate-out fade-out space-y-8 flex-col"
>
  <h1 class="text-5xl font-bold text-center m-0">
    Biznus management but {" "}<span class="text-blue-500">simpler</span> +{" "}
    <span class="text-violet-500">better</span> +{" "}
    <span class="text-indigo-500">friendly</span>
  </h1>
  <p class="text-lg mt-4 max-w-prose text-center">
    Biznus made so simple that even your dog can start a business. So what are
    you waiting for? Start your business today on Oh My Biznus...
  </p>
  <div>
    <a
      href="https://app.ohmybizn.us/api/auth/login"
      class="bg-slate-900 hover:bg-slate-700 hover:text-white font-bold py-3 px-6 rounded transition-all text-xl"
      >Get Started</a
    >
  </div>
</div>
